<!-- Almost all this code came from here: -->
<!-- https://developer.mozilla.org/en-US/docs/Web/API/MediaStream_Recording_API/Recording_a_media_element -->
<!-- -Shatz -->

<link rel="stylesheet" href= {{ url_for('static', filename='recorder.css') }}>

<html>
    <div class="left">
        <div id="startButton" class="button">
        Start
        </div>
        <h2>Preview</h2>
        <video id="preview" width="400" height="300" autoplay muted></video>
    </div>

    <div class="right">
        <div id="stopButton" class="button">
        Stop
        </div>
        <h2>Recording</h2>
        <video id="recording" width="400" height="300" controls></video>
        <a id="downloadButton" class="button">
        Download Good
        </a>
        <a id="downloadButtonBad" class="button" style="background-color:red;">
        Download Bad
        </a>
    </div>

    <div class="bottom">
        <p id="log"> Logging: </p>
    </div>


    <script>

    let preview = document.getElementById("preview");
    let recording = document.getElementById("recording");
    let startButton = document.getElementById("startButton");
    let stopButton = document.getElementById("stopButton");
    let downloadButtonGood = document.getElementById("downloadButtonGood");
    let downloadButtonBad = document.getElementById("downloadButtonBad");
    let logElement = document.getElementById("log");

    let recordingTimeMS = 5000;


    function log(msg) {
        logElement.innerHTML += "<br />" + msg;
    }

    function wait(delayInMS) {
        return new Promise(resolve => setTimeout(resolve, delayInMS));
    }

    function startRecording(stream, lengthInMS) {
        let recorder = new MediaRecorder(stream);
        let data = [];

        recorder.ondataavailable = event => data.push(event.data);
        recorder.start();
        log(recorder.state + " for " + (lengthInMS/1000) + " seconds...");

        let stopped = new Promise((resolve, reject) => {
        recorder.onstop = resolve;
        recorder.onerror = event => reject(event.name);
        });

        let recorded = wait(lengthInMS).then(
        () => recorder.state == "recording" && recorder.stop()
        );

        return Promise.all([
            stopped,
            recorded
        ])
        .then(() => data);
    }

    async function doCountdown(i, t) {
        setTimeout(log("counting down " + i + " seconds"), 1000);
       
    }

    function delay(t, v) {
        // chain promises for delay
       return new Promise(async(resolve) => { 
        log("Timeout for now");
        for (i=t; i>=0; i--) {
            if (i==0) {
                //log("counting down " + i + " seconds")
                setTimeout(resolve.bind(null, v), 1000);
                //await sleep(1000);
            } else {
                doCountdown(i, t);
                await new Promise(r => setTimeout(r, 1000));
            }
            
        }
       });
    }
    

    function stop(stream) {
        stream.getTracks().forEach(track => track.stop());
    }

    Promise.prototype.delay = function(t) {
        return this.then(function(v) {
            return delay(t, v);
        });
    }

    startButton.addEventListener("click", function() {
        navigator.mediaDevices.getUserMedia({
            video: true,
            audio: false
        }).then(stream => {
                preview.srcObject = stream;
                downloadButton.href = stream;
                downloadButtonBad.href = stream;
                preview.captureStream = preview.captureStream || preview.mozCaptureStream;
                
                return new Promise(resolve => preview.onplaying = resolve);
              }).delay(5).then(() => startRecording(preview.captureStream(), recordingTimeMS))
              .then (recordedChunks => {
                let recordedBlob = new Blob(recordedChunks, { type: "video/webm" });
                recording.src = URL.createObjectURL(recordedBlob);
                downloadButton.href = recording.src;
                downloadButtonBad.href = recording.src;
                downloadButton.download = "goodsquat.webm";
                downloadButtonBad.download = "badsquat.webm";

                log("Successfully recorded " + recordedBlob.size + " bytes of " +
                    recordedBlob.type + " media.");
              })
              .catch(log);
        }, false);

        stopButton.addEventListener("click", function() {
        stop(preview.srcObject);
        }, false);

    </script>
</html>
